<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div id="app">
      <div class="container">
          <div class="row">
                <p class="jumbotron">
                    <input type="text" v-model="user" /> enterez votre nom {{user}}
                
                </p>
          </div> <!-- row -->
<h1>produits commanes </h1>
<ul>
    <li v-for="commande in commandes">
{{commande}}
    </li>
</ul>
 <h1>Nos produits disponibles</h1>
          <div class="row">
              <div class="col-3" v-for="produit in produits">
                 
                  <p class="jumbotron">
                     {{produit}},
                     <button v-on:click=commander(produit)>comander</button>
                  
                  </p>
                  <p>{{user}}</p>

              </div>


          </div> <!-- row -->

      </div> <!-- container-->

   </div> <!-- fermeture principale app-->

   <script>
       var app = new Vue({
            el :"#app",
            data:{
            
               
                produits: ["ordinateur", "portable", "tablette", "Xbox 360"],
                commandes:[]

            },
            methods:{
                commander:function (produit){
                    this.commandes.push(produit);
                }
            }

        

       })
   </script>
</body>
</html>  